@model ML.Usuario
@{
    ViewData["Title"] = "Login";
    Layout = "";
}
<section class="vh-100 gradient-custom">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PL.styles.css" asp-append-version="true" />
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card  bg-danger text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                            <p class="text-white-50 mb-5">Please enter your login and password!</p>
                            @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <div class="form-outline form-white mb-4">
                                
                                    @Html.LabelFor(model => model.Username)
                                    @Html.TextBoxFor(model => model.Username, new { @class="form-control form-control-lg", @id="typeUsername", @placeholder="Usuario"})
                                    @Html.ValidationMessageFor(model => model.Username)
                                </div>

                                <div class="form-outline form-white mb-4">
                                    @Html.LabelFor(model => model.Clave)
                                     @Html.TextBoxFor(model => model.Clave, new { @class = "form-control", @id = "txtContrasenia", @placeholder="*********", @type="password"})
                                    @Html.ValidationMessageFor(model => model.Clave)

                                   

                                </div>



                                
                                <div>
                                    @*<button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>*@

                                    <input type="submit" value="Entrar" class="btn btn-info" />


                                </div>
                            }

                            

                        </div>

                       

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


